/*_________________________________________________________________________*/
/*--------------------Variáveis--------------------*/
:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --corBackground: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}
/*_________________________________________________________________________*/
/*--------------------Geral--------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corBackground);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}
/*--------------------Botões--------------------*/
.botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--corBackground);
}

.botao-secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    margin-top: 1em;
}
/*-------------------Principal--------------------*/
.principal{
    background: url(img/Background.png) no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.principal__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}
/*-------------------Secundário--------------------*/
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}
/*-------------------Descrição--------------------*/
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.container__descricao{
    padding: 2em;
}
/*-------------------Dispositivos--------------------*/
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}
/*-------------------Rodapé--------------------*/
.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}
